<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    [mode]="percentComplete > 0 ? 'determinate' : 'indeterminate'"
    diameter="50"
    [value]="percentComplete"
  ></mat-progress-spinner>
</div>
<div class="cloudapp-actions">
  <button mat-flat-button color="secondary" [routerLink]="['/']">
    <mat-icon>arrow_back_ios</mat-icon> {{ 'Back' | translate}}
  </button>
  <button mat-flat-button type="button" color="primary" [disabled]="!valid" (click)="print()">{{ 'Labels.Print' | translate:{length: printService.items.size} }}</button>
</div>
<div class="config" *ngIf="config">
  <mat-form-field>
    <mat-label translate>Labels.SelectLayout</mat-label>
    <input type="text"
      placeholder=""
      matInput
      [formControl]="layoutControl"
      [matAutocomplete]="autoLayout">
    <mat-autocomplete autoActiveFirstOption 
      #autoLayout="matAutocomplete" 
      (optionSelected)="onSelected($event, 'layout')"
      [displayWith]="startCase"
      >
      <mat-option *ngFor="let layout of filteredLayouts | async" [value]="layout">
        {{startCase(layout)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label translate>Labels.SelectTemplate</mat-label>
    <input type="text"
      placeholder=""
      matInput
      [formControl]="templateControl"
      [matAutocomplete]="autoTemplate">
    <mat-autocomplete autoActiveFirstOption 
      #autoTemplate="matAutocomplete" 
      (optionSelected)="onSelected($event, 'template')"
      [displayWith]="startCase"
      >
      <mat-option *ngFor="let template of filteredTemplates | async" [value]="template">
        {{startCase(template)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label translate>Labels.Offset</mat-label>
    <input matInput [(ngModel)]="printService.offset" type="number" min="0" [max]="printService.layout?.perPage">
    <mat-hint translate>Labels.OffsetHint</mat-hint>
  </mat-form-field>
  <mat-slide-toggle labelPosition="before" [(ngModel)]="printService.gridlines">{{'Labels.Gridlines' | translate}}</mat-slide-toggle>
</div>
<iframe style="visibility: hidden;" #iframe></iframe>