<h2 mat-dialog-title translate>{{data.title}}</h2>
<mat-dialog-content>
  <p *ngIf="text">{{text}}</p>
  <mat-form-field>
    <mat-label>{{'Configuration.Layouts.ExampleLayout' | translate }}</mat-label>
    <mat-select [(ngModel)]="result.basedOn">
      <mat-option selected value="">{{'Blank' | translate}}</mat-option>
      <mat-option *ngFor="let layout of baseLayouts | keyvalue" [value]="layout.key">{{startCase(layout.key)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{data.prompt | translate}}</mat-label>
    <input matInput #input [(ngModel)]="result.name" (keyup.enter)="dialogRef.close(result)">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="secondary" mat-dialog-close>{{data.cancel || 'Cancel' | translate}}</button>
  <button mat-flat-button color="secondary" [mat-dialog-close]="result" cdkFocusInitial>{{data.ok || 'OK' | translate}}</button>
</mat-dialog-actions>