<div class="template-list">
  <mat-form-field>
    <mat-label translate>Configuration.Templates.SelectTemplate</mat-label>
    <mat-select placeholder="Template" [(value)]="selected">
      <mat-option *ngFor="let template of keys" [value]="template">
        {{startCase(template)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <i class="uxf-icon uxf-plus eca-button" (click)="add()" attr.aria-label="{{'Configuration.Add'|translate}}" title="{{'Configuration.Add'|translate}}"></i>
  <i class="uxf-icon uxf-pencil eca-button" (click)="rename()" attr.aria-label="{{'Configuration.Rename'|translate}}" title="{{'Configuration.Rename'|translate}}"></i>
  <i class="uxf-icon uxf-trash eca-button" (click)="delete()" attr.aria-label="{{'Configuration.Delete'|translate}}" title="{{'Configuration.Delete'|translate}}"></i>
</div>
<div *ngIf="form && selected" [formGroup]="form.get(selected)" class="form">
  <div>
    <h2 translate>Configuration.Templates.Contents</h2>
    <editor [init]="{
      base_url: 'assets/tinymce',
      suffix: '.min',
      height: 300,
      menubar: false,
      setup: initmce,
      content_style: 'body, p {font-size: 14px;font-weight: 300;color: #5e5e5e;}',
      toolbar:
        'addfield addimage | \
        bold italic | \
        alignleft aligncenter alignright | fontselect fontsizeselect forecolor | \
        undo redo | removeformat'
      }"
      formControlName="contents"
    ></editor>
  </div>
  <h2 translate>Configuration.Templates.OtherOptions</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.BarcodeOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox labelPosition="before" formControlName="asBarcode">{{'Configuration.Templates.Fields.asBarcode' | translate}}</mat-checkbox>
      <mat-checkbox labelPosition="before" [ngClass]="{'readonly': !asBarcode}" formControlName="showBarcodeValue">{{'Configuration.Templates.Fields.showBarcodeValue' | translate}}</mat-checkbox>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !asBarcode}">
        <mat-label translate>Configuration.Templates.Fields.barcodeEncoding</mat-label>
        <mat-select formControlName="barcodeEncoding">
          <mat-option *ngFor="let format of barcodeFormats" [value]="format">{{format}}</mat-option>
        </mat-select>     
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.CallNoOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox labelPosition="before" formControlName="callNumberLineBreaks">{{'Configuration.Templates.Fields.callNumberLineBreaks' | translate}}</mat-checkbox>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !callNumberLineBreaks}">
        <mat-label translate>Configuration.Templates.Fields.callNumberParser</mat-label>
        <mat-select formControlName="callNumberParser">
          <mat-option value="">{{'Configuration.Templates.Fields.defaultCallNumberParser' | translate}}</mat-option>
          <mat-option *ngFor="let parser of callNumberParsers | keyvalue" [value]="parser.key">{{startCase(parser.key)}}</mat-option>
        </mat-select>  
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.TitleOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox labelPosition="before" formControlName="truncateTitle">{{'Configuration.Templates.Fields.truncateTitle' | translate}}</mat-checkbox>
       <mat-form-field appearance="standard" [ngClass]="{'readonly': !truncateTitle}">
        <mat-label translate>Configuration.Templates.Fields.truncateTitleCharacters</mat-label>
        <mat-select formControlName="truncateTitleCharacters">
          <mat-option *ngFor="let character of titleCharacters" [value]="character">{{character}}</mat-option>
        </mat-select>     
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>