<div class="template-list">
  <mat-form-field>
    <mat-label translate>Configuration.Templates.SelectTemplate</mat-label>
    <mat-select placeholder="Template" [(value)]="selected">
      <mat-option *ngFor="let template of keys" [value]="template">
        {{startCase(template)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <i class="uxf-icon uxf-plus eca-button" (click)="add()" attr.aria-label="{{'Configuration.Add'|translate}}" title="{{'Configuration.Add'|translate}}"></i>
  <i class="uxf-icon uxf-pencil eca-button" (click)="rename()" attr.aria-label="{{'Configuration.Rename'|translate}}" title="{{'Configuration.Rename'|translate}}"></i>
  <i class="uxf-icon uxf-trash eca-button" (click)="delete()" attr.aria-label="{{'Configuration.Delete'|translate}}" title="{{'Configuration.Delete'|translate}}"></i>
</div>
<div *ngIf="form && selected" [formGroup]="form.get(selected)" class="form">
  <div>
    <h2 translate>Configuration.Templates.Contents</h2>
    <editor [init]="{
      base_url: 'assets/tinymce',
      suffix: '.min',
      height: 300,
      menubar: false,
      setup: initmce,
      fontsize_formats: '8pt 10pt 12pt 13pt 14pt 15pt 16pt 17pt 18pt 19pt 20pt 24pt 36pt',
      font_formats: 'ALA BT Courier=ala bt courier,courier; Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Arial Narrow=arial narrow,sans-serif; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Microsoft YaHei=microsoft yahei,gothic,sans-serif; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; TH SarabunPSK=th sarabunpsk,sans-serif; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats',
      content_style: 'body, p {font-size: 14px;font-weight: 300;color: #5e5e5e;}',
      plugins: 'table code',
      toolbar:
        'addfield addimage | \
        bold italic underline | \
        alignleft aligncenter alignright | fontselect fontsizeselect forecolor | \
        code | \
        table tabledelete | tableprops tablerowprops tablecellprops | \
        tableinsertrowbefore tableinsertrowafter tabledeleterow | \
        tableinsertcolbefore tableinsertcolafter tabledeletecol | \
        undo redo | removeformat'
      }"
      formControlName="contents"
    ></editor>
  </div>
  <h2 translate>Configuration.Templates.OtherOptions</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.BarcodeOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox labelPosition="before" formControlName="asBarcode">{{'Configuration.Templates.Fields.asBarcode' | translate}}</mat-checkbox>
      <mat-checkbox labelPosition="before" [ngClass]="{'readonly': !asBarcode}" formControlName="showBarcodeValue">{{'Configuration.Templates.Fields.showBarcodeValue' | translate}}</mat-checkbox>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !showBarcodeValue}">
        <mat-label translate>Configuration.Templates.Fields.barcodeFontSize</mat-label>
        <input matInput formControlName="barcodeFontSize" type="number">  
      </mat-form-field>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !asBarcode}">
        <mat-label translate>Configuration.Templates.Fields.barcodeWidth</mat-label>
        <input matInput formControlName="barcodeWidth" type="number">  
      </mat-form-field>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !asBarcode}">
        <mat-label translate>Configuration.Templates.Fields.barcodeHeight</mat-label>
        <input matInput formControlName="barcodeHeight" type="number">  
      </mat-form-field>      
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !asBarcode}">
        <mat-label translate>Configuration.Templates.Fields.barcodeEncoding</mat-label>
        <mat-select formControlName="barcodeEncoding">
          <mat-option *ngFor="let format of barcodeFormats" [value]="format">{{format}}</mat-option>
        </mat-select>     
      </mat-form-field>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !asBarcode}">
        <mat-label translate>Configuration.Templates.Fields.checksum</mat-label>
        <mat-select formControlName="barcodeChecksum">
          <mat-option value="">{{'None' | translate}}</mat-option>
          <mat-option *ngFor="let checksum of checksums" [value]="checksum">{{startCase(checksum)}}</mat-option>
        </mat-select>  
      </mat-form-field>      
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.CallNoOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox labelPosition="before" formControlName="callNumberAsBarcode">{{'Configuration.Templates.Fields.callNumberAsBarcode' | translate}}</mat-checkbox>
      <mat-checkbox labelPosition="before" formControlName="callNumberLineBreaks">{{'Configuration.Templates.Fields.callNumberLineBreaks' | translate}}</mat-checkbox>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !callNumberLineBreaks}">
        <mat-label translate>Configuration.Templates.Fields.numberOfCallNumberLines</mat-label>
        <input matInput formControlName="numberOfCallNumberLines" type="number">
      </mat-form-field>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !callNumberLineBreaks}">
        <mat-label translate>Configuration.Templates.Fields.numberOfCallNumberPartsToSkip</mat-label>
        <input matInput formControlName="numberOfCallNumberPartsToSkip" type="number">
      </mat-form-field>
      <mat-form-field appearance="standard" [ngClass]="{'readonly': !callNumberLineBreaks}">
        <mat-label translate>Configuration.Templates.Fields.callNumberParser</mat-label>
        <mat-select formControlName="callNumberParser">
          <mat-option value="">{{'Configuration.Templates.Fields.defaultCallNumberParser' | translate}}</mat-option>
          <mat-option *ngFor="let parser of callNumberParsers" [value]="parser">{{startCase(parser)}}</mat-option>
        </mat-select>  
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.pattern</mat-label>
        <input matInput formControlName="callNumberPattern" type="string">  
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.flags</mat-label>
        <input matInput formControlName="callNumberPatternFlags" type="string">  
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.replacement</mat-label>
        <input matInput formControlName="callNumberReplacement" type="string">  
      </mat-form-field>
      <mat-checkbox labelPosition="before" formControlName="hideCutterDecimal">{{'Configuration.Templates.Fields.hideCutterDecimal' | translate}}</mat-checkbox>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.decimalCharacter</mat-label>
        <input matInput formControlName="decimalCharacter" type="string">  
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.removeCharactersFromCallNo</mat-label>
        <input matInput formControlName="removeCharactersFromCallNo" type="string">  
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.TitleOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.truncateTitleCharacters</mat-label>
        <input matInput formControlName="truncateTitleCharacters" type="number">  
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.Prefixes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-prefix [form]="selectedTemplate"></app-prefix>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.CopyNumberOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.copyNumberLabel</mat-label>
        <input matInput formControlName="copyNumberLabel" type="string">  
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.suppressCopyNumbers</mat-label>
        <input matInput formControlName="suppressCopyNumbers" type="string">  
      </mat-form-field>  
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.DateOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.dateFormat</mat-label>
        <mat-select formControlName="dateFormat">
          <mat-option *ngFor="let format of dateFormats" [value]="format">{{format}}</mat-option>
        </mat-select> 
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label translate>Configuration.Templates.Fields.dateSeparator</mat-label>
        <mat-select formControlName="dateSeparator">
          <mat-option *ngFor="let format of dateSeparators" [value]="format">{{format}}</mat-option>
        </mat-select>     
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>
          Configuration.Templates.DescOptions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox labelPosition="before" formControlName="descriptionLineBreaks">{{'Configuration.Templates.Fields.descriptionLineBreaks' | translate}}</mat-checkbox>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-checkbox labelPosition="before" formControlName="blankFields">{{'Configuration.Templates.blankFields' | translate}}</mat-checkbox>
</div>