
@import './app/main/main.component.theme';

@mixin themed-styles($theme, $typography) {
    /* Include themed component mixins or theme dependent styles here */
    @include main-component-theme($theme, $typography);
}

@mixin global-styles {
    /* Add global styles here */

    /* Until SDK 0.3.1 */
    i.eca-button {
        cursor: pointer;
        padding: 7px;
        border-radius: 50%;
        &:hover {
        background-color: #E5E5E5;
    }
    &:first-of-type {
        margin-left: auto;
        }
    }
}
