.mat-form-field {
  width: 350px;
  display: block;
}
.mat-list-base {
  padding-top: 0px;
}
.mat-list-item:hover {
  background-color: #f8f8f8;
}
.mat-list {
  width: 300px;
}
.mat-list-item .mat-spinner {
  margin-left: 7px;
}