.mat-radio-button {
  margin-right: 10px;
}
.select-options {
  margin-bottom: 10px;
}
.mat-form-field,
eca-auto-complete {
  width: 350px;
  display: block;
}
.mat-list-base {
  padding-top: 0px;
}
.mat-list-item:hover {
  background-color: #f8f8f8;
}
.mat-list {
  width: 300px;
}
.mat-list-item .mat-spinner {
  margin-left: 7px;
}