.mat-radio-button {
  margin-right: 10px;
}

.select-options {
  margin-bottom: 10px;
}

.mat-list-item:hover {
  background-color: #f8f8f8;
}
.mat-list {
  width: 300px;
}
.mat-list-item .mat-spinner {
  margin-left: 7px;
}

/* Until SDK 0.3.1 */
i.eca-button {
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  &:hover {
    background-color: #E5E5E5;
  }
  &:first-of-type {
    margin-left: auto;
  }
}