<div class="cloudapp-actions">
  <button mat-flat-button color="secondary" *ngIf="appService.canConfigure" [routerLink]="['/configuration']">{{'Configuration.Title' | translate}}</button>
  <button mat-flat-button color="secondary" (click)="clear()">{{'Main.Clear' | translate}}</button>
  <button mat-flat-button [disabled]="!isValid" color="primary" (click)="next()">
    {{'Main.Next' | translate}}
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
<p translate>Main.Intro</p>
<div class="select-options">
  <mat-radio-group aria-label="Select an option" [(ngModel)]="listType" (ngModelChange)="onListTypeChange()">
    <mat-radio-button value="SCAN">{{'Main.ScanItems' | translate}}</mat-radio-button>
    <mat-radio-button value="SET">{{'Main.SelectSet' | translate}}</mat-radio-button>
    <mat-radio-button value="SELECT">{{'Main.SelectRecords' | translate}}</mat-radio-button>
  </mat-radio-group>
</div>
<div>
  <div [style.display]="listType == 'SELECT' ? 'block' : 'none'">
    <p *ngIf="count == 0" translate>Main.NoEntities</p>
    <mat-label *ngIf="count >  0" translate [translateParams]="{length: selectedEntities.length}">Main.SelectedIds</mat-label>
    <eca-select-entities #selectEntities
      [(selected)]="selectedEntities"
      [lineNumbers]="true"
      [entityTypes]="entityTypes"
      (count)="count=$event"
      >
    </eca-select-entities>
  </div>
  <div [style.display]="listType == 'SET' ? 'block' : 'none'">
    <eca-auto-complete
      (onOptionSelected)="onSetSelected($event)"
      [lazy]="alma.searchSets"
      label="SetSelect.SelectSet"
    ></eca-auto-complete>
  </div>
  <div [style.display]="listType == 'SCAN' ? 'block' : 'none'">
    <app-scan
      [scannedEntities]="scannedEntities"
    ></app-scan>
  </div>
</div>