<!--
  Based on:
  https://boulderinformationservices.com/blog/print-avery-labels-using-css-and-html/
-->
<div *ngIf="layout && items">
  <div *ngFor="let page of items; let last = last" class="page" 
    style="margin: 0;font-family: 'arial';text-align: center;"
    [style.page-break-after]="last ? 'avoid' : 'always'"
    [style.width]="layout.pageWidth + layout.measure"
    [style.padding]="layout.topMargin + layout.measure + ' 0 0 ' + layout.leftMargin + layout.measure"
  >

    <div class='label'
      style="box-sizing: border-box;float: left;text-align: center;overflow: hidden;outline: 1px dotted #ccc;"
      [style.width]="layout.width + layout.measure"
      [style.height]="layout.height + layout.measure"
      [style.padding-right]="layout.verticalGap + layout.measure"
      [style.padding-top]="layout.horizontalGap + layout.measure"
      [style.writing-mode]="layout.orientation == 'landscape' ? 'vertical-rl' : 'horizontal-tb'"
      *ngFor="let item of page"
      [innerHTML]="contents(item)"
    >
    </div>
  </div>
</div> 
<ngx-barcode *ngIf="layout"
  style='visibility: hidden;'
  [bc-height] = "20"
  [bc-width] = "1"
  [bc-font-size] = "10"
  [bc-display-value] = template.showBarcodeValue
  [bc-format] = printService.template.barcodeEncoding
></ngx-barcode>