<i class="uxf-icon uxf-plus eca-button" (click)="add()" attr.aria-label="{{'Configuration.Add'|translate}}" title="{{'Configuration.Images.AddImage'|translate}}"></i>

  <mat-card class="image-card" *ngFor="let key of keys">
    <mat-card-header>
      <mat-card-title>
        {{startCase(key)}}
        <i class="uxf-icon uxf-pencil eca-button" (click)="rename(key)" attr.aria-label="{{'Configuration.Rename'|translate}}" title="{{'Configuration.Rename'|translate}}"></i>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="{{url(key)}}" *ngIf="url(key)" class="image">
    </mat-card-content>
    <mat-card-actions>
      <input type="file" [id]="'files-'+key" class="hidden" (change)="fileChangeEvent($event.target.files, key)" accept="image/*" style="display: none;"/>
      <i class="uxf-icon uxf-trash eca-button" (click)="delete(key)" attr.aria-label="{{'Configuration.Delete'|translate}}" title="{{'Configuration.Delete'|translate}}"></i>
      <label [for]="'files-'+key">
        <i class="uxf-icon uxf-pictures eca-button" attr.aria-label="{{'Configuration.Images.EditImage'|translate}}" title="{{'Configuration.Images.EditImage'|translate}}"></i>
      </label>
    </mat-card-actions>
  </mat-card>      